@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

$text: #fff;
$black: #000;
$body-size: 20px;
$border: $black;
$border-hover: #2b30be;

$family-primary: "Barlow", sans-serif;
$family-secondary: "Playball", sans-serif;

.fp-watermark {
  display: none !important;
}

@import "bulma/bulma.sass";
